/wrapper/rootfs/system/lib64/libCoreADI.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libCoreFP.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libCoreFoundation.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libCoreLSKD.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libLLVM.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libandroid_runtime.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libandroidappmusic.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libc++.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libc.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libcrypto.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libcurl.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libicudata_sv_apple.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libicui18n.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libicui18n_sv_apple.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libicuuc.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libicuuc_sv_apple.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libmedia.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libmedialibrarycore.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libmediaplatform.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libpdfium.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libskia.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libstagefright.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libstoreservicescore.so filter=lfs diff=lfs merge=lfs -text
/wrapper/rootfs/system/lib64/libxml2.so filter=lfs diff=lfs merge=lfs -text
